<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.employee_details">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_employee"
        android:label="Employee Details"
        android:roundIcon="@mipmap/ic_employee_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Base_task1">
        <activity
            android:name="com.example.employee_details.TabbedHomePage"
            android:exported="false"
            android:label="@string/title_activity_tabbed_home_page"
            android:theme="@style/Theme.Base_task1" />
        <activity
            android:name="com.example.employee_details.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>